.header {
    background-color: black;
}

#ap-logo {
    margin-left: 10px;
}

.texto-principal {
    float: left-end;
    margin-left: 10px;
    margin-top: 15px;
    color: white;
}

.text-light {
    padding-left: 10px;
}

.btn {
    border-width: ligth;
    margin-top: 4px;
    margin-right: 15px;
    margin-bottom: 3px;
}

.fa-github {
    font-size: 27px;
}

.fa-instagram {
    font-size: 30px;
}

.aling-btn {
    display: flex;
    float: right;
    justify-content: space-between;
}

.git {
    display: flex;
    margin-top: 9px;
    margin-right: 10px;
}

.insta{
    display: flex;
    margin-top: 14px;
    margin-right: 10px;
}

div#profile-background {
    display: flex;
}

div#profile-background img {
    width: 100%;
    border-radius: 1px 1px 0 0;
}

@media (min-width: 576px) {
    #profile-image {
        position: absolute;
        border-radius: 100%;
        width: 50%;
        height: auto;
        margin-left: 15px;
        left: 3%;
        top: -150px;
        z-index: 1;
    }
}

@media (max-width: 575px) {
    #profile-image {
        position: absolute;
        border-radius: 100%;
        width: 45%;
        height: auto;
        margin-left: 15px;
        left: 25%;
        top: -110px;
        z-index: 1;
    }
}

.img-btn {
    display: flex;
}

.btn-camera { 
    position: relative;
    z-index: 2;
}

@media (min-width: 576px) {
    #info {
        margin-top: 70px;
        margin-left: 35px;
    }
}

@media (max-width: 575px) {
    #info {
        margin-top: 110px;
        margin-left: 8rem;
    }
}

#name {
    font-weight: bold;
    font-size: 23PX;
    margin-left: -10px;
}

#title {
    font-size: 18px;    
}

@media (min-width: 576px) {
    #alingment {
        margin-top: 35px;
    }
}

@media (max-width: 575px) {
    #alingment {
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

#titulo-acerca {
   display: flex;
}

.alinear-btn-perfil {
    float: right;
    
    
    
}

.alinear-btn {
    display: flex;
    float: right;
}

.fa-pen {
    font-size: 16px;
    margin-top: 10px;
}

.fa-xmark {
    font-size: 23px;
    margin-right: 20px;
}