<div class="card mat-card" id="quarter-card">
    <div class="card-titles">
        <h3 id="title">Hard & soft skills</h3>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress 
                    [percent]="100" 
                    [radius]="70" 
                    [space]="-10" 
                    [title]="'HTML'" 
                    [titleFontSize]="'25'" 
                    [showUnits]="false"
                    [subtitle]="'100%'" [subtitleFontSize]="'18'" [showSubtitle]="true" [showInnerStroke]="true" [innerStrokeWidth]="10"
                    [innerStrokeColor]="'#e7e8ea'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#fcb6b6'"
                    [outerStrokeWidth]="10" [outerStrokeColor]="'#B32428'" [animation]="true" [animationDuration]="1000"
                    [clockwise]="false">
                </circle-progress>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress 
                    [percent]="85" 
                    [radius]="70" 
                    [space]="-10" 
                    [title]="'CSS'" 
                    [titleFontSize]="'25'" 
                    [showUnits]="false"
                    [subtitle]="'85%'" [subtitleFontSize]="'18'" [showSubtitle]="true" [showInnerStroke]="true" [innerStrokeWidth]="10"
                    [innerStrokeColor]="'#e7e8ea'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#fcb6b6'"
                    [outerStrokeWidth]="10" [outerStrokeColor]="'#B32428'" [animation]="true" [animationDuration]="1000"
                    [clockwise]="false">
                </circle-progress>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress 
                    [percent]="60" 
                    [radius]="70" 
                    [space]="-10" 
                    [title]="'JS'" 
                    [titleFontSize]="'25'" 
                    [showUnits]="false"
                    [subtitle]="'60%'" [subtitleFontSize]="'18'" [showSubtitle]="true" [showInnerStroke]="true" [innerStrokeWidth]="10"
                    [innerStrokeColor]="'#e7e8ea'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#fcb6b6'"
                    [outerStrokeWidth]="10" [outerStrokeColor]="'#B32428'" [animation]="true" [animationDuration]="1000"
                    [clockwise]="false">
                </circle-progress>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress 
                    [percent]="80" 
                    [radius]="70" 
                    [space]="-10" 
                    [title]="'ALGO'" 
                    [titleFontSize]="'25'" 
                    [showUnits]="false"
                    [subtitle]="'80%'" [subtitleFontSize]="'18'" [showSubtitle]="true" [showInnerStroke]="true" [innerStrokeWidth]="10"
                    [innerStrokeColor]="'#e7e8ea'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#fcb6b6'"
                    [outerStrokeWidth]="10" [outerStrokeColor]="'#B32428'" [animation]="true" [animationDuration]="1000"
                    [clockwise]="false">
                </circle-progress>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress 
                    [percent]="80" 
                    [radius]="70" 
                    [space]="-10" 
                    [title]="'ALGO'" 
                    [titleFontSize]="'25'" 
                    [showUnits]="false"
                    [subtitle]="'80%'" [subtitleFontSize]="'18'" [showSubtitle]="true" [showInnerStroke]="true" [innerStrokeWidth]="10"
                    [innerStrokeColor]="'#e7e8ea'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#fcb6b6'"
                    [outerStrokeWidth]="10" [outerStrokeColor]="'#B32428'" [animation]="true" [animationDuration]="1000"
                    [clockwise]="false">
                </circle-progress>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress 
                    [percent]="80" 
                    [radius]="70" 
                    [space]="-10"
                    [title]="'ALGO'" 
                    [titleFontSize]="'25'"
                    [showUnits]="false" 
                    [subtitle]="'80%'"
                    [subtitleFontSize]="'18'"
                    [showSubtitle]="true" 
                    [showInnerStroke]="true"
                    [innerStrokeWidth]="10"
                    [innerStrokeColor]="'#e7e8ea'"
                    [outerStrokeGradient]="true"
                    [outerStrokeGradientStopColor]="'#fcb6b6'"
                    [outerStrokeWidth]="10"  
                    [outerStrokeColor]="'#B32428'" 
                    [animation]="true" 
                    [animationDuration]="1000"
                    [clockwise]="false">
                </circle-progress>
            </div>
        </div>
    </div>
</div>
